body{
    font-family: 'Libre Baskerville', serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(60,60,66,1) 45%);
    margin: 0px;
}

.container{
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p, dt{
    margin: 30px;
}

.narutocareca{
    margin: 20px
}